[submodule "Vulkan-Hpp"]
	path = Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/Big-Smarty/VulkanMemoryAllocator
